* {
  margin: 0;
  padding: 0;
  list-style: none; }

.header {
  width: 3.75rem;
  height: 0.51rem; }
  .header .div1 {
    float: left; }
    .header .div1 img {
      width: 1.07rem;
      height: 0.36rem;
      margin-top: 0.08rem;
      margin-left: 0.09rem; }
  .header .liuc {
    float: left;
    font-size: 0.18rem;
    line-height: 0.51rem;
    margin-left: 0.4rem; }
  .header .div2 {
    float: right;
    margin-right: 0.09rem; }
    .header .div2 ul li {
      float: left;
      color: #999999;
      width: 50%;
      height: 0.225rem;
      line-height: 0.225rem;
      text-align: center;
      margin-top: 0.08rem; }
      .header .div2 ul li .icon-user {
        font-size: 0.225rem; }
      .header .div2 ul li .icon-nav {
        font-size: 0.165rem; }
    .header .div2 ul li:nth-child(1) {
      margin-left: -0.165rem; }
    .header .div2 ul li:nth-child(2) {
      margin-left: 0.165rem; }
    .header .div2 ol li:nth-child(1) {
      margin-left: -0.165rem; }
    .header .div2 ol li:nth-child(2) {
      margin-left: 0.165rem; }
    .header .div2 ol li {
      float: left;
      color: #999999;
      width: 50%;
      text-align: center;
      margin-top: -0.02rem; }

.tu {
  width: 3.75rem; }
  .tu img {
    width: 100%; }
  .tu h1 {
    font-size: 0.14rem;
    color: #000; }
  .tu h2 {
    font-size: 0.18rem;
    color: #ff4351; }
  .tu .img2 {
    width: 3.75rem;
    height: 4.27rem;
    background-image: url(../img/process2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    .tu .img2 h2 {
      position: relative;
      top: 0.25rem;
      left: 0.5rem; }
  .tu .img2 h1:nth-child(2) {
    position: relative;
    top: 0.68rem;
    left: 0.85rem; }
  .tu .img2 h1:nth-child(3) {
    position: relative;
    top: 1.25rem;
    left: 1.87rem; }
  .tu .img2 h1:nth-child(4) {
    position: relative;
    top: 1.82rem;
    left: 0.85rem; }
  .tu .img2 h1:nth-child(5) {
    position: relative;
    top: 2.39rem;
    left: 1.87rem; }
  .tu .img3 {
    width: 3.75rem;
    height: 4.27rem;
    background-image: url(../img/process3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    .tu .img3 h2 {
      position: relative;
      top: 0.25rem;
      left: 2.2rem; }
  .tu .img3 h1:nth-child(2) {
    position: relative;
    top: 0.68rem;
    left: 1.87rem; }
  .tu .img3 h1:nth-child(3) {
    position: relative;
    top: 1.25rem;
    left: 0.85rem; }
  .tu .img3 h1:nth-child(4) {
    position: relative;
    top: 1.82rem;
    left: 1.87rem; }
  .tu .img3 h1:nth-child(5) {
    position: relative;
    top: 2.39rem;
    left: 0.85rem; }
  .tu .img4 {
    width: 3.75rem;
    height: 4.27rem;
    background-image: url(../img/process4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    .tu .img4 h2 {
      position: relative;
      top: 0.25rem;
      left: 0.5rem; }
  .tu .img4 h1:nth-child(2) {
    position: relative;
    top: 0.54rem;
    left: 0.85rem; }
  .tu .img4 h1:nth-child(3) {
    position: relative;
    top: 1.11rem;
    left: 1.87rem; }
  .tu .img4 h1:nth-child(4) {
    position: relative;
    top: 1.54rem;
    left: 0.85rem; }
  .tu .img4 h1:nth-child(5) {
    position: relative;
    top: 2.05rem;
    left: 1.87rem; }

.kon {
  width: 3.75rem;
  height: 0.09rem;
  background-color: #eaeaea; }

.kon1 {
  width: 3.75rem;
  height: 0.09rem;
  background-color: #eaeaea;
  margin-top: 0.18rem; }

.text {
  width: 3.75rem; }
  .text p {
    text-indent: 2em;
    font-size: 0.14rem;
    color: #333;
    margin-left: 0.18rem;
    margin-right: 0.18rem; }

.footer {
  width: 3.75rem; }
  .footer ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .footer .phone {
    margin-left: 26%; }
    .footer .phone i {
      font-size: 0.16rem;
      color: #39C894; }
    .footer .phone p {
      font-size: 0.14rem; }
  .footer .xuanx li {
    width: 25%;
    text-align: center;
    font-size: 0.14rem; }
  .footer .xuanx li:nth-child(1) {
    color: #39C894; }

footer {
  width: 3,75rem;
  height: 0.53rem;
  background: #000;
  opacity: 80%;
  display: flex; }
  footer div:nth-child(1) img {
    width: 0.20rem; }
  footer div:nth-child(2) {
    margin-top: 0.050rem;
    margin-left: 0.050rem; }
    footer div:nth-child(2) img {
      width: 1005;
      height: 0.445rem; }
  footer div:nth-child(3) button {
    width: 0.90rem;
    height: 0.30rem;
    border-radius: 50px;
    background: #FEB605;
    font-size: 0.02rem;
    border: 1px solid #FEB605;
    color: white;
    margin-left: 0.2rem;
    margin-top: 0.10rem; }

.ddb {
  width: 0.47rem;
  height: 0.47rem;
  border: 1px solid #dedede;
  text-align: center;
  border-radius: 50px;
  position: fixed;
  left: 3.15rem;
  top: 90%;
  background: white;
  z-index: 2000; }
  .ddb a {
    text-align: center;
    width: 0.2rem;
    color: #9c9c9c;
    line-height: 0.47rem; }

/*# sourceMappingURL=new_file.css.map */
